<h1 id="summarization">Summarization</h1>
<p>Reading comprehension (RC) is the ability to read text, process it, and understand its meaning. <a href="">Wikipedia</a></p>
<table>
<tbody>
<tr class="odd">
<td></td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="cnn-dailymail">CNN-DailyMail</h2>
<p><a href="https://arxiv.org/abs/1506.03340">pdf</a> <a href="../../../../dwisianto.bitbucket.a18/w3/y18/summ/rd/hermann2015teaching.pdf">local</a> <a href="https://github.com/deepmind/rc-data">code</a></p>
<pre><code>@inproceedings{hermann2015teaching,
  title={Teaching machines to read and comprehend},
  author={Hermann, Karl Moritz and Kocisky, Tomas and Grefenstette, Edward and Espeholt, Lasse and Kay, Will and Suleyman, Mustafa and Blunsom, Phil},
  booktitle={Advances in Neural Information Processing Systems},
  pages={1693--1701},
  year={2015}
}</code></pre>
<p>Progress on the path from shallow bag-of-words information retrieval algorithms to machines capable of reading and understanding documents has been slow.<br />
Traditional approaches to machine reading and comprehension have been based on either hand engineered grammars [1], or information extraction methods of detecting predicate argument triples that can later be queried as a relational database [2]. Supervised machine learning approaches have largely been absent from this space due to both the lack of large scale training datasets, and the difficulty in structuring statistical models flexible enough to learn to exploit document structure.</p>
<p>While obtaining supervised natural language reading comprehension data has proved difficult, some researchers have explored generating synthetic narratives and queries [3, 4]. Such approaches allow the generation of almost unlimited amounts of supervised data and enable researchers to isolate the performance of their algorithms on individual simulated phenomena. Work on such data has shown that neural network based models hold promise for modeling reading comprehension, something that we will build upon here.<br />
Historically, however,<br />
many similar approaches in Computational Linguistics have failed to manage the transition from synthetic data to real environments, as such closed worlds inevitably fail to capture the complexity, richness, and noise of natural language [5].</p>
<h2 id="cnn-daily-mail-thorough">CNN-Daily Mail Thorough</h2>
<p><a href="https://arxiv.org/pdf/1606.02858.pdf">pdf</a> <a href="../../../../dwisianto.bitbucket.a18/w3/y18/summ/rd/chen2016through.pdf">local</a> <a href="">code</a></p>
<div class="sourceCode" id="cb2"><pre class="sourceCode bash"><code class="sourceCode bash"><a class="sourceLine" id="cb2-1" data-line-number="1"><span class="ex">@inproceedings</span>{chen2016thorough,</a>
<a class="sourceLine" id="cb2-2" data-line-number="2">    <span class="va">title=</span>{<span class="ex">A</span> Thorough Examination of the {CNN/Daily Mail} <span class="ex">Reading</span> Comprehension Task},</a>
<a class="sourceLine" id="cb2-3" data-line-number="3">    <span class="va">author=</span>{<span class="ex">Chen</span>, Danqi and Bolton, Jason and Manning, Christopher D.},</a>
<a class="sourceLine" id="cb2-4" data-line-number="4">    <span class="va">booktitle=</span>{<span class="ex">Association</span> for Computational Linguistics (ACL)},</a>
<a class="sourceLine" id="cb2-5" data-line-number="5">    <span class="va">year=</span><span class="dt">{2016}</span>,</a>
<a class="sourceLine" id="cb2-6" data-line-number="6">    <span class="va">url=</span><span class="dt">{https://arxiv.org/pdf/1606.02858.pdf}</span></a>
<a class="sourceLine" id="cb2-7" data-line-number="7">  }</a></code></pre></div>
<p>Recently, researchers at DeepMind (Hermann et al., 2015) had the appealing,<br />
original idea of exploiting the fact that the abundant news articles of CNN and Daily Mail are accompanied by bullet point summaries in order to heuristically create large-scale supervised training data for the reading comprehension task. Figure 1 gives an example. Their idea is that a bullet point usually summarizes one or several aspects of the article. If the computer understands the content of the article, it should be able to infer the missing entity in the bullet point.</p>
<h2 id="sentence-selection">Sentence Selection</h2>
<p><a href="http://homepages.inf.ed.ac.uk/s1537177/">Jianpeng Cheng</a> <a href="https://arxiv.org/pdf/1603.07252.pdf">pdf</a> <a href="../../../../dwisianto.bitbucket.a18/w3/y18/summ/rd/">lcl</a> <a href="https://github.com/danqi/rc-cnn-dailymail">code</a> [lcl]</p>
<h2 id="nallapati">Nallapati</h2>
<h2 id="timeline">TimeLine</h2>
<h2 id="race">RACE</h2>
<p>https://cs.stanford.edu/~danqi/ <a href="https://github.com/qizhex/RACE_AR_baselines">RACE</a></p>
<h2 id="cloze">Cloze</h2>
<pre><code>@article{taylor1953cloze,
  title={“Cloze procedure”: A new tool for measuring readability},
  author={Taylor, Wilson L},
  journal={Journalism Bulletin},
  volume={30},
  number={4},
  pages={415--433},
  year={1953},
  publisher={SAGE Publications Sage CA: Los Angeles, CA}
}</code></pre>
