<h1 id="dwisianto">dwisianto</h1>
<p>This site contains the following pages:</p>
<ol style="list-style-type: decimal">
<li>Focus
<ol style="list-style-type: decimal">
<li><a href="../dwisianto.bitbucket.io">do_bb_io</a> - <a href="../dwisianto.bitbucket.a18/README.html">do_bb_a18</a> - <a href="../dwisianto.github.io/">do_gh_io</a> =<a href="../d.bee.whcs">d_whcs</a>
<ol style="list-style-type: decimal">
<li>Organize</li>
<li><a href="k2" class="uri" target="_blank">k2</a> - <a href="k2/kCld">kCld</a> - <a href="k2/kMac">kMac</a> - <a href="k2/kXX/kPy/README.html">kPy</a> = <a href="k2/kXX/kJv">kJv</a></li>
<li><a href="w3" class="uri" target="_blank">w3</a> - <a href="w3/y18">y18</a> - <a href="w3/y18/y18.bib" target="_blank">y18-bib</a> <a href="w3/y18/y18.bib.html">y18bib-html</a>
<ol style="list-style-type: decimal">
<li><a href="w3/y18/summ/README.html">summa</a> - Structured prediction - <a href="">trie</a><br />
</li>
<li>NDCG - Bias Variance Margin Decomposition</li>
</ol></li>
<li><a href="d4" class="uri" target="_blank">d4</a> - <a href="d4/d18/resume/r18a/README.md">Resume</a> - <a href="d4/d18/resume/d18.bib.html">bib</a></li>
<li>[v5] - visualization
<ol style="list-style-type: decimal">
<li><a href="http://brat.nlplab.org/sitemap.html">brat Annotation Tools</a> - <a href="../../../w3/l17/brat/v14ex/b14aEntities.html">Entities</a> - <a href="../../../w3/l17/brat/v14ex/b14bAttribute.html">Attributes</a> - <a href="../../../w3/l17/brat/v14ex/b14cRelation.html">Relations</a> - <a href="../../../w3/l17/brat/v14ex/b14dEvent.html">Events</a></li>
<li><a href="../../../w3/yXX/md/README.html">Markdown Presentation</a></li>
<li><a href="../../../w3/yXX/anno/anno.html">Annotation Visualization</a></li>
<li><a href="../../../w3/yXX/wt/w1a/">Markdown Writing</a></li>
</ol></li>
</ol></li>
</ol></li>
<li><a href="k2">Koding</a>
<ol style="list-style-type: decimal">
<li><a href="k2/kCls/README.html">gcp</a> - <a href="https://console.cloud.google.com/">console</a> <a href="https://cloud.google.com/">gcloud</a><br />
</li>
<li><a href="https://find.synology.com">nas</a> - 192.168.1.227</li>
<li><a href="k2/kMac/README.html">osx</a> - <a href="https://appleid.apple.com">appleid</a> <a href="https://iforgot.apple.com">iforgot</a> <a href="https://www.icloud.com/">icloud</a></li>
<li><a href="/Users/dsm">dbee</a> - <a href="/Users/dsm/DSc">DSc</a> - <a href="/Users/dsm/DSc/.ssh">ssh</a></li>
<li><a href="/Users/dwyk">dwyk</a> - <a href="/Users/dwyk/Desktop">Desktop</a> - <a href="/Users/dwyk/Download">Download</a> - <a href="/Users/dwyk/Document">Document</a> - <a href="/Users/dwyk/.bash_profile">bash_prof</a>
<ol style="list-style-type: decimal">
<li><a href="/Users/dwyk">dwyk</a> - <a href="/Users/dwyk/.ssh">ssh</a> - <a href="/Usr/local/Caskroom">caskroom</a> - <a href="~/.m2">maven</a></li>
<li><a href="/Users/dwyk/d7">d7</a></li>
<li><a href="/Users/dwyk/d7/ws">ws</a><br />
</li>
<li><a href="/Users/dwyk/d7/db">db</a> - <a href="/Users/dwyk/d7/db/rc/deepmind/">deepmind</a></li>
<li><a href="/Users/dwyk/d7/gb">gb</a><br />
</li>
<li><a href="/Users/dwyk/d7/gb">gt</a></li>
</ol></li>
</ol></li>
<li>Misc
<ol style="list-style-type: decimal">
<li><a href="https://en.wikipedia.org/wiki/Bioinformatics">bio</a></li>
<li><a href="https://www.maa.org">maa</a></li>
<li><a href="https://norvig.com/spell-correct.html">norvig_spell_correct</a></li>
</ol></li>
</ol>
<h2 id="candia">Candia</h2>
<h3 id="cars">Cars</h3>
<h4 id="lawn">Lawn</h4>
<h2 id="journal">Journal</h2>
<ol style="list-style-type: decimal">
<li>Journey</li>
<li>brew cask install maven</li>
<li>wood conditioner, stain, oil Polyurethane 216.1 brew install gs &gt; compressing pdf for storage</li>
<li>Travel and BDay</li>
<li>Driver License</li>
</ol>
<p>http://www.diynetwork.com/how-to/skills-and-know-how/painting/how-to-apply-stain-varnish-wax-dye-or-oil-to-wood Follow these simple steps to apply stain, varnish, wax, dye or oil to enhance the look of wood.</p>
