<h3 id="section"></h3>
<p>I applied online. The process took 3+ months. I interviewed at US Patent and Trademark Office in April 2013.</p>
<p>Interview</p>
<p>Applied in February and got interviewed in early April. Questions were the same questions posted previously. There were two interviewers and the interview lasted around 20 minutes. They were short and to the point in their questions. Still no offer but no rejection either though. My status on USA jobs is unchanged.</p>
<p>Interview Questions</p>
<p>How do you deal with time management on a variety of assignments.</p>
<h3 id="section-1"></h3>
<p>If you have more than one task, how do you get them done?</p>
<p>First categorizes the task as their importance, due date, and difficulties level. I first do the easy tasks and get those done. If help is available, I will first seek the help for the difficult task</p>
<h3 id="section-2"></h3>
<p>Application</p>
<p>I applied online. The process took 4+ weeks. I interviewed at US Patent and Trademark Office in August 2014.</p>
<p>Interview</p>
<p>From the time the application period for the position closed it was roughly a month before I was called for an interview. The interview was with four members of OPLA. They asked questions about current case law (Alice/101 at the time). The interview was very conversational, and one question that was answered often led to other more narrow questions. The length of the interview was about a half hour to…</p>
<p>Interview Questions</p>
<p>What one thing would you do to make the patent examining corps better?</p>
<h3 id="section-3"></h3>
<p>Application</p>
<p>I applied online. The process took 2+ months. I interviewed at US Patent and Trademark Office (Alexandria, VA) in July 2014.</p>
<p>Interview</p>
<p>The interview was by phone, but very similar to an in-person interview. There was also a video conference option, but we did not make use of this facility. We discussed how I might handle different scenarios discussed elsewhere on this site such as how I handle criticism and reviewed some elements of my resume and prior experience. The interviewer also provided an opportunity for me to ask questions and we… Show More</p>
<p>Interview Questions</p>
<p>How do you handle criticism?</p>
<h3 id="section-4"></h3>
<p>Application</p>
<p>I applied online. The process took 3+ months. I interviewed at US Patent and Trademark Office (Alexandria, VA) in November 2017.</p>
<p>Interview</p>
<p>Job Announcement Closed end of October 2017. Notification of first interview 10 day later. Interview the following week. Typical interview questions. Second interview 2 weeks later. This one was substantially more difficult. Request for references was approximately 1.5 weeks later. Tentative Offer almost 2 weeks later. 3 weeks from tentative offer to final offer, which was used to do a suitability determination</p>
<p>Interview Questions</p>
<p>How would you handle a customer question that is complex and needs to be answered quickly?</p>
<h3 id="info-tech-specialist-interview">Info Tech Specialist Interview</h3>
<p>Viewed federal vacancy announcement. Answered KSA essay questions specific to job applied for. That means pages of essays. Submit resume and essays by emailing or faxing materials. Waited months to hear anything back. Interview seemed to indicate that no one read the materials submitted. Although job was for IT position, only managers participated in interview and were in no position to assess my technical skills. Never heard anything back after the interview but called HR repeatedly to find out for sure that I didn't get it.</p>
<h4 id="questions">questions</h4>
<p>Why do you want this job?</p>
