<p>This site contains the following pages:</p>
<ol type="1">
<li>General
<ol type="1">
<li><a href="https://en.wikipedia.org/wiki/Bioinformatics">bio</a></li>
<li><a href="https://www.maa.org">maa</a></li>
</ol></li>
<li><a href="../../../k2">Project</a>
<ol type="1">
<li>Cloud Platform</li>
<li>Visualization</li>
</ol></li>
<li><a href="../../../w3">Scribles</a>
<ol type="1">
<li>Structured prediction</li>
<li>NDCG</li>
<li>Bias Variance Margin Decomposition</li>
</ol></li>
<li><a href="../../../d4/">Personal</a> - <a href=".././../d4/">Resume</a> - <a href=".././../d4/">bk</a></li>
<li>Visualization
<ol type="1">
<li><a href="http://brat.nlplab.org/sitemap.html">brat Annotation Tools</a></li>
</ol></li>
</ol>
<ul>
<li><a href="../../../w3/l17/brat/v14ex/b14aEntities.html">Entities</a></li>
<li><a href="../../../w3/l17/brat/v14ex/b14bAttribute.html">Attributes</a></li>
<li><a href="../../../w3/l17/brat/v14ex/b14cRelation.html">Relations</a></li>
<li><a href="../../../w3/l17/brat/v14ex/b14dEvent.html">Events</a>
<ol start="2" type="1">
<li><a href="../../../w3/yXX/md/README.html">Markdown Presentation</a></li>
<li><a href="../../../w3/yXX/anno/anno.html">Annotation Visualization</a></li>
<li><a href="../../../w3/yXX/wt/w1a/">Markdown Writing</a></li>
</ol></li>
</ul>
<h2 id="technology">Technology</h2>
<table>
<thead>
<tr class="header">
<th><a href="../../../k2/kMac/">mac</a></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><a href="https://appleid.apple.com">appleid</a></td>
<td></td>
</tr>
<tr class="even">
<td><a href="https://iforgot.apple.com">iforgot</a></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="https://www.icloud.com/">icloud</a></td>
<td></td>
</tr>
<tr class="even">
<td><a href="https://">developer</a></td>
<td></td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th>NAS</th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>ForkLift</td>
<td><a href="iforgot.apple.com">iforgot</a></td>
</tr>
<tr class="even">
<td></td>
<td><a href="https://www.icloud.com/">icloud</a></td>
</tr>
<tr class="odd">
<td></td>
<td></td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th><a href="https://cloud.google.com/">GCP</a></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>gcloud</td>
<td><a href="iforgot.apple.com">iforgot</a></td>
</tr>
<tr class="even">
<td></td>
<td><a href="https://www.icloud.com/">icloud</a></td>
</tr>
<tr class="odd">
<td>gsutil</td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="candia">Candia</h2>
<table>
<tbody>
<tr class="odd">
<td>lawn</td>
<td></td>
</tr>
<tr class="even">
<td>electric</td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="cars">Cars</h2>
<div class="line-block">Honda | | |<br />
—- | —– | |<br />
     | | |</div>
<div class="line-block">Toyota | | |<br />
—- | —– | |<br />
     | | |</div>
