<h2 id="python">Python</h2>
<h2 id="section"></h2>
<ul>
<li><a href="https://www.dabapps.com/blog/introduction-to-pip-and-virtualenv-python/">virtualenv</a></li>
<li><a href="http://python-packaging.readthedocs.io/en/latest/minimal.html">package</a></li>
</ul>
<h2 id="package-vs-module">Package vs Module</h2>
<h2 id="language">Language</h2>
<h3 id="python-1">Python</h3>
<table>
<thead>
<tr class="header">
<th>column</th>
<th>column</th>
<th>column</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>type</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td>isinstance</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td>locals</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td>globals</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td>dir</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<h3 id="pip">pip</h3>
<p>Python actually has a more primitive package manager called easy_install, which is installed automatically when you install Python itself. pip is vastly superior to easy_install for lots of reasons, and so should generally be used instead. You can use easy_install to install pip as follows:</p>
<pre><code>#
sudo easy_install pip
#
sudo pip install virtualenv
sudo pip install --upgrade virtualenv</code></pre>
<h3 id="virtualenv">virtualenv</h3>
<p>If you already have pip, the easiest way is to install it globally sudo pip install virtualenv. Usually pip and virtualenv are the only two packages you ever need to install globally, because once you have got both of these you can do all your work inside virtual environments.</p>
<p>In fact, virtualenv comes with a copy of pip which gets copied into every new environment you create, so virtualenv is really all you need. You can even install it as a separate standalone package (rather than from PyPI).</p>
<pre><code>cd ~/myProject/run/env
virtualenv e1a
# add e1a to .gitignore
#
which python
source e1a/bin/activate
which python
env/bin/pip install -r requirements.txt</code></pre>
<h3 id="how-do-i-create-a-new-virtual-environment">How do I create a new virtual environment?</h3>
<p>You only need the virtualenv tool itself when you want to create a new environment. This is really simple. Start by changing directory into the root of your project directory, and then use the virtualenv command-line tool to create a new environment:</p>
<pre><code>$ cd ~/code/myproject/
$ virtualenv env</code></pre>
<p>Here, env is just the name of the directory you want to create your virtual environment inside. It's a common convention to call this directory env, and to put it inside your project directory (so, say you keep your code at ~/code/projectname/, the environment will be at ~/code/projectname/env/ - each project gets its own env). But you can call it whatever you like and put it wherever you like!</p>
<p>Note: if you're using a version control system like git, you shouldn't commit the env directory. Add it to your .gitignore file (or similar).</p>
<h3 id="how-do-i-use-my-shiny-new-virtual-environment">How do I use my shiny new virtual environment?</h3>
<p>If you look inside the env directory you just created, you'll see a few subdirectories:</p>
<pre><code>$ ls env
bin include lib</code></pre>
<p>The one you care about the most is bin. This is where the local copy of the python binary and the pip installer exists. Let's start by using the copy of pip to install requests into the virtualenv (rather than globally):</p>
<p>$ env/bin/pip install requests Downloading/unpacking requests Downloading requests-1.1.0.tar.gz (337kB): 337kB downloaded Running setup.py egg_info for package requests</p>
<p>Installing collected packages: requests Running setup.py install for requests</p>
<p>Successfully installed requests Cleaning up...</p>
<p>It worked! Notice that we didn't need to use sudo this time, because we're not installing requests globally, we're just installing it inside our home directory.</p>
<p>Now, instead of typing python to get a Python shell, we type env/bin/python, and then...</p>
<pre><code>&gt;&gt;&gt; import requests
&gt;&gt;&gt; requests.get(&#39;http://dabapps.com&#39;)
&lt;Response [200]&gt;</code></pre>
<h3 id="but-thats-a-lot-of-typing">But that's a lot of typing!</h3>
<p>virtualenv has one more trick up its sleeve. Instead of typing env/bin/python and env/bin/pip every time, we can run a script to activate the environment. This script, which can be executed with source env/bin/activate, simply adjusts a few variables in your shell (temporarily) so that when you type python, you actually get the Python binary inside the virtualenv instead of the global one:</p>
<pre><code>$ which python
/usr/bin/python
$ source env/bin/activate
$ which python
/Users/jamie/code/myproject/env/bin/python</code></pre>
<p>So now we can just run pip install requests (instead of env/bin/pip install requests) and pip will install the library into the environment, instead of globally. The adjustments to your shell only last for as long as the terminal is open, so you'll need to remember to rerun source env/bin/activate each time you close and open your terminal window. If you switch to work on a different project (with its own environment) you can run deactivate to stop using one environment, and then source env/bin/activate to activate the other.</p>
<p>Activating and deactivating environments does save a little typing, but it's a bit &quot;magical&quot; and can be confusing. Make your own decision about whether you want to use it.</p>
<h4 id="requirements-files">Requirements files</h4>
<p>virtualenv and pip make great companions, especially when you use the requirements feature of pip. Each project you work on has its own requirements.txt file, and you can use this to install the dependencies for that project into its virtual environment:</p>
<pre><code>env/bin/pip install -r requirements.txt</code></pre>
<h3 id="data-structured">Data Structured</h3>
<p>aList = <a href="#section-1"></a> aList = list() len(aList)</p>
<h1 id="section-1"></h1>
